/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #181111;
  color: #ffffff;
  height: 100%;
}

a {
  color: rgb(185, 118, 31);
}

a:hover {
  color: rgb(185, 118, 31);
}

.shadow {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}

.section-container {
  padding: 30px;
}
